@import "tailwindcss";

:root {
  --color-primary: #5285EC;
  --color-secondary: #537178;
  
  --color-text: var(--color-primary);
  --color-text-muted: 
  
  --background: #F4F4F6;
}

@theme {
  --color-background: var(--background);
  --shadow-card: 0px 3px 6px #00000029;
  --shadow-card-primary: 0px 3px 6px #0000000A;
  --shadow-card-secondary: 0px 3px 6px #00000014;
}

@layer base {
  body {
    font-family: "Montserrat", sans-serif;
    @apply bg-[#F4F4F6] text-gray-900 antialiased;
  }
  main {
    @apply bg-[#F4F4F6];
  }
}
