@import "tailwindcss";

@theme {
	--color-background: #f4f4f6;

	/* Brand Colors */
	--color-primary: #5285ec;
	--color-secondary: #537178;
	--color-tertiary: #8f9ea2;

	/* UI Colors */
	--color-input: #eef1f8;
	--color-search: #d9dfeb;
	--color-placeholder: #7a7d7e;
	--color-icon: #647278;
	--color-modal-title: #6d8187;

	/* Shadows */
	--shadow-card: 0px 3px 6px #00000029;
	--shadow-card-primary: 0px 3px 6px #0000000a;
	--shadow-card-secondary: 0px 3px 6px #00000014;
}

@layer base {
	body {
		font-family: "Montserrat", sans-serif;
		@apply bg-background text-gray-900 antialiased;
	}
	main {
		@apply bg-background min-h-screen mx-auto;
	}
}

@utility text-heading {
	@apply font-medium text-xl leading-6 text-secondary;
}

.recharts-wrapper:focus,
.recharts-surface:focus,
.recharts-sector:focus,
.recharts-layer:focus,
.recharts-layer:focus {
	outline: none !important;
}
